@use '/src/assets/scss' as *;
@media (min-width: 740px) {
    .login {
        width: 100%;
        height: calc(100vh - $heightTopbar - $heightFooter);
        background-image: url('../../assets/image/background-login.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font('title');
        &Form {
            width: 300px;
            height: 340px;
            background-color: rgba($whiteColor, 0.85) ;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 0 25px;
            border-radius: 20px;
            box-shadow: $shadowFull;
            .loginLogo {
                @include font('logo');
                text-shadow: $shadowFull;
            }
            .loginLabel {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .loginError {
                    color: $errorColor;
                }
            }
            .loginInput {
                &:focus {
                    border-color: $mainColor;
                }
                width: 100%;
                padding: 5px 0;
                
                border-bottom: 1px solid $blackBorder;
            }
            .loginSubmit {

            }
            .loginRegister, .loginForgot {
                @include font('content');
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 739px) {
    .login {
        width: 100%;
        height: calc(100vh - $heightTopbar - $heightFooterM);
        background-image: url('../../assets/image/background-login.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font('title');
        &Form {
            width: 300px;
            height: 300px;
            background-color: rgba($whiteColor, 0.85) ;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 0 25px;
            border-radius: 20px;
            box-shadow: $shadowFull;
            .loginLogo {
                @include font('logo');
                font-size: 25px;
                text-shadow: $shadowFull;
            }
            .loginLabel {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .loginError {
                    color: $errorColor;
                }
            }
            .loginInput {
                &:focus {
                    border-color: $mainColor;
                }
                width: 100%;
                padding: 5px 0;
                
                border-bottom: 1px solid $blackBorder;
            }
            .loginSubmit {
                
            }
            .loginRegister, .loginForgot {
                @include font('content');
                font-size: 16px;
                text-align: center;
            }
        }
    }
}