$shadowFull: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shawdowNotTop:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

$heightHeader: 400px;
$heightHeaderM: 200px;


$heightTopbar: 40px;
$heightTopbarM: 45px;
$heightChildTopbar: 35px;
$heightChildTopbarM: 40px;

$heightFooter: 80px;
$heightFooterM: 70px;

$logoColor: #da8300;
$mainColor: #FF9900;
$clickColor: #ffac2f;
$errorColor: #CC0000;
$placeholderColor: #9e9e9e;
$disableColor: #CCCCCC;
$greyColor: #24292f;
$whiteColor: white;
$blackColor: black;
