$shadowFull: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadowLine: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
$shadowBottom: 0 2px 4px -2px rgba(0,0,0,0.3); 

$backGroundEmpty: linear-gradient(to left, #dce8eb, #f8e8dc);

$heightHeader: 400px;
$heightHeaderOfUser: 300px;
$heightHeaderM: 200px;
$heightHeaderOfUserM: 200px;


$heightTopbar: 40px;
$heightChildTopbar: 35px;

$heightFooter: 80px;
$heightFooterM: 70px;


$sizeAlignPagePC: 20px;
$sizeAlignPageTM: 15px;
$sizeAlignElementPC: 15px;
$sizeAlignElementTM: 10px;


$mainBtnColor: #ff7b00;
$blueBtnColor: rgb(138, 156, 245);
$greyBtnColor: rgb(228, 230, 238);
$clickBtnColor: #ffac2f;


$greyBorder: #CCCCCC;
$blackBorder: black;

// $mainColor: rgb(97, 124, 255);
$mainColor: #ff7b00;
$errorColor: #CC0000;
$placeholderColor: #9e9e9e;
$contentBriefColor: #727272;
$disableColor: #CCCCCC;
$greyColor: #24292f;
$whiteColor: white;
$blackColor: black;


$textColorLight:#111111;
$textColorDark: #ECECEC;

$backgroundColorLight: #f3f3f3;
$backgroundColorDark: #111111;