$shadowFull: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$shawdowNotTop:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


$heightHeader: 400px;
$heightTopbar: 50px;
$heightChildTopbar: 40px;
$heightTopbarM: 40px;
$heightFooter: 40px;

$mainColor: #FF9900;
$clickColor: #ffac2f;
$errorColor: #CC0000;
$disableColor: #CCCCCC;
