@use '/src/assets/scss' as *;
/* Private css style of Duc */
* {
    box-sizing: inherit;
}

body {
    
    margin: 0;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
// Custom ckEditor
p {
    line-height: 1;
    margin: 10px 0;
}
h2 {
    line-height: 1.2;
    margin: 10px 0;
}
h3 {
    line-height: 1.1;
    margin: 10px 0;
}
h4 {
    line-height: 1;
    margin: 10px 0;
}

/* Scroll*/
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 10px;
}

input, select {
    border: none;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Remove border radius IOS */
textarea,
input[type="password"],
input[type="number"],
input[type="date"],
input[type="text"],
input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: inherit;
    font-size: 100%;
}

::placeholder {
    color: $placeholderColor;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    font-family: 'title';
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadowFull;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button.btnBig {
    &:active {
        background-color: $clickBtnColor;
    }
    height: 35px;
    width: 140px;
    font-size: 17px; 
}
button.btnSmall {
    &:active {
        background-color: $clickBtnColor;
    }
    height: 30px;
    width: 80px;
    font-size: 16px;
}
button.btnMain {
    background-color: $mainBtnColor;
}
button.btnBlue {
    background-color: $blueBtnColor;
}
button.btnGrey {
    background-color: $greyBtnColor;
}