@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .postsCategory {
        &Top {
            @include paddingMarginBorder('PC', 'bottom');
            display: flex;
            &Left {
                width: 40%;
                @include paddingMarginBorder('PC', 'right');
                display: flex;
                flex-direction: column;
                > :nth-child(n) {
                    flex: 1;
                }
                > :first-child {
                    @include paddingMarginBorder('PC', 'bottom');
                }
            }
            &Right {
                width: 60%;
            }
        }
        &Center {
            @include paddingMarginBorder('PC', 'bottom');
            display: flex;
            > :nth-child(n) {
                flex: 1;
                @include paddingMarginBorder('PC', 'right');
            }
            > :last-child {
                padding-right: 0;
                margin-right: 0;
                border: none;
            }
        }
        &Bottom {
            display: flex;
            flex-direction: column;
            > :nth-child(n) {
                flex: 1;
                @include paddingMarginBorder('PC', 'bottom');
            }
            > :last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }
        }
    }
}

/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {

}

/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {

}