@use '/src/assets/scss' as *;
.community {
    &.loading {
        height: calc(100vh - $heightTopbar - $heightFooter - $heightHeader);
        position: relative;
        &::after{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            content: '';
            background-image: url('../../assets/image/loading.gif');
            background-size: cover;
            width: 70px;
            height: 70px;
        }
    }
    width: 100%;
    padding: 0 20px;
    > :nth-child(2) {
        display: flex;
    }
    &Group {
        &:last-child {
            border: none;
        };
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid $blackColor;
        &Name {
            &:hover {
                color: $mainColor
            }
            @include font('title');
            font-weight: 600;
            display: inline-block;
            text-decoration: none;
            color: $blackColor;
            margin-bottom: 10px;
        }
        &Child {
            &:first-child {
                flex: 7;
            }
            &:last-child {
                flex: 4;
                margin-left: 15px;
                border-left: 1px solid $disableColor;
                padding-left: 15px;
            }
            &Item {
                &:last-child {
                    padding-bottom: 0;
                    border: none;
                }
                &:first-child {
                    padding-top: 0
                }
                padding: 15px 0;
                border-bottom: 1px solid $disableColor;

            }
        }
    }
}

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {

}
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {

}