@use '/src/assets/scss' as *;
.community {
    &.loading {
        height: calc(100vh - $heightTopbar - $heightFooter - $heightHeader);
        position: relative;
        &::after{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            content: '';
            background-image: url('../../assets/image/loading.gif');
            background-size: cover;
            width: 70px;
            height: 70px;
        }
    }
    width: 100%;
    padding: 15px 20px;
    &Top {
        padding-bottom: 15px;
    }
    &Mid {
        display: flex;
        border-bottom: 1px solid $blackColor;
        border-top: 1px solid $blackColor;
        padding: 15px 0;
        &Left {
            flex: 7;
            padding-right: 15px;
            border-right: 1px solid $blackColor;
            margin-right: 15px;
            &Item {
                padding-bottom: 15px;
                border-bottom: 1px solid $blackColor;
                margin-bottom: 15px;
                &:last-child {
                    padding: 0;
                    margin: 0;
                    border: none;
                }
            }
        }
        &Right {
            flex: 3;
            &Item {
                padding-bottom: 15px;
                border-bottom: 1px solid $blackColor;
                margin-bottom: 15px;
                &:last-child {
                    padding: 0;
                    margin: 0;
                    border: none;
                }
            }
        }
    }
    &Bottom {
        padding-top: 15px;
    }
    &Name {
        &:hover {
            background-color: $clickColor;
        }
        display: inline-block;
        @include font('title');
        background-color: $mainColor;
        border: 1px solid $disableColor;
        border-radius: 5px;
        box-shadow: $shadowFull;
        padding: 5px 10px;
        text-decoration: none;
        color: $blackColor;
        margin-bottom: 15px;
        &Icon {
            margin-right: 5px;
        }
    }
}

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {

}
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {

}