@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .community {
        &.loading {
            height: calc(100vh - $heightTopbar - $heightFooter);
            position: relative;
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }
        width: 100%;
        padding: 5px $sizeAlignPagePC $sizeAlignPagePC $sizeAlignPagePC;
        &Top {
            display: flex;
            border-bottom: 1px solid $blackBorder;
            border-top: 4px double $blackBorder;
            padding: $sizeAlignElementPC 0;
            &Left {
                flex: 7;
                @include paddingMarginBorder('PC', 'right', $blackColor);
                &Item {
                    @include paddingMarginBorder('PC', 'bottom', $blackColor);

                    &:last-child {
                        padding: 0;
                        margin: 0;
                        border: none;
                    }
                }
            }
            &Right {
                flex: 3;
                &Item {
                    @include paddingMarginBorder('PC', 'bottom', $blackColor);

                    &:last-child {
                        padding: 0;
                        margin: 0;
                        border: none;
                    }
                }
            }
        }
        &Bottom {
            padding-top: $sizeAlignElementPC;
        }
        &Name {
            display: inline-block;
            @include font('title');
            background-color: $mainColor;
            border: 1px solid $disableColor;
            border-radius: 5px;
            box-shadow: $shadowFull;
            padding: 5px 10px;
            
            
            margin-bottom: $sizeAlignElementPC;
            &Icon {
                margin-right: 5px;
            }
        }
    }
}
@media (min-width: 740px) and (max-width: 900px) {
    .community {
        &.loading {
            height: calc(100vh - $heightTopbar - $heightFooter);
            position: relative;
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }
        width: 100%;
        padding: 5px $sizeAlignPageTM $sizeAlignPageTM $sizeAlignPageTM;
        &Top {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $blackBorder;
            border-top: 4px double $blackBorder;
            padding: $sizeAlignElementTM 0;
            &Left {
                flex: 7;
                padding-right: 0px;
                border-right: none;
                margin-right: 0px;
                &Item {
                    @include paddingMarginBorder('TM', 'bottom', $blackColor);
                }
            }
            &Right {
                flex: 3;
                &Item {
                    @include paddingMarginBorder('TM', 'bottom', $blackColor);

                    &:last-child {
                        padding: 0;
                        margin: 0;
                        border: none;
                    }
                }
            }
        }
        &Bottom {
            padding-top: $sizeAlignElementTM;
        }
        &Name {
            display: inline-block;
            @include font('title');
            background-color: $mainColor;
            border: 1px solid $disableColor;
            border-radius: 5px;
            box-shadow: $shadowFull;
            padding: 5px 10px;
            
            
            margin-bottom: $sizeAlignElementTM;
            &Icon {
                margin-right: 5px;
            }
        }
    }
}
@media (max-width: 739px) {
    .community {
        &.loading {
            height: calc(100vh - $heightTopbar - $heightFooter);
            position: relative;
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }
        width: 100%;
        padding: 5px $sizeAlignPageTM $sizeAlignPageTM $sizeAlignPageTM;
        &Top {
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid $blackColor;
            border-top: 4px double $blackBorder;
            padding: $sizeAlignElementTM 0;
            &Left {
                flex: 7;
                padding-right: 0px;
                border-right: none;
                margin-right: 0px;
                &Item {
                    @include paddingMarginBorder('TM', 'bottom', $blackColor, 2px);
                }
            }
            &Right {
                flex: 3;
                &Item {
                    @include paddingMarginBorder('TM', 'bottom', $blackColor, 2px);
                    &:last-child {
                        padding: 0;
                        margin: 0;
                        border: none;
                    }
                }
            }
        }
        &Bottom {
            padding-top: $sizeAlignElementTM;
        }
        &Name {
            display: inline-block;
            @include font('title');
            background-color: $mainColor;
            border: 1px solid $disableColor;
            border-radius: 5px;
            box-shadow: $shadowFull;
            padding: 5px 10px;
            
            
            margin-bottom: $sizeAlignElementTM;
            &Icon {
                margin-right: 5px;
            }
        }
    }
}