@use '/src/assets/scss' as *;
.postsOfUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    > :nth-child(n) {
        height: 150px;
        padding-bottom: 15px;
        border-bottom: 1px solid $blackColor;
        margin-bottom: 15px;
    }
    > :last-child {
        padding: 0;
        margin: 0;
        border: none;
    }
}

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {

}
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {

}