@use '/src/assets/scss' as *;
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 901px) {
    .category {
        &.loading {
            height: calc(100vh - $heightTopbar - $heightFooter);
            position: relative;
            &::after{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }
        width: 100%;
        min-height: calc(100vh - $heightTopbar - $heightFooter);
        padding: $sizeAlignElementPC;
        &Title {
            @include font('title');
            width: 100%;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double)
        }
    }
}
@media (min-width: 740px) and (max-width: 900px) {
    .category {
        &.loading {
            height: calc(100vh - $heightTopbar - $heightFooter);
            position: relative;
            &::after{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }
        width: 100%;
        min-height: calc(100vh - $heightTopbar - $heightFooter);
        padding: $sizeAlignElementTM;
        &Title {
            @include font('title');
            width: 100%;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double)
        }
    }
}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .category {
        &.loading {
            height: calc(100vh - $heightTopbar - $heightFooterM);
            position: relative;
            &::after{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }
        width: 100%;
        min-height: calc(100vh - $heightTopbar - $heightFooterM);
        padding: $sizeAlignElementTM;
        &Title {
            @include font('title');
            width: 100%;
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 600;
            @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double)
        }
    }
}