@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .topbar {
        z-index: 3;
        width: 100%;
        height: $heightTopbar;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 0;
        border-bottom: 1px solid $disableColor;
        @include font('part');
        background-color: $whiteColor;
        padding: 0 $sizeAlignPagePC;
        // Mobile
        &GroupM {
            display: none;
        }
        // Tablet PC
        &Group {
            display: flex;
            align-items: center;
    
            // Item
            .topbarItem {
                &:last-child {
                    margin-right: 0;
                }
                display: flex;
                align-items: center;
                margin-right: 20px;
                
                color: $blackColor;
                cursor: pointer;
    
                // Search
                &:focus-within .topbarSearchIcon {
                    color: $mainColor;
                }
                .topbarSearchIcon {
    
                }
                .topbarSearchInput {
                    @include font('part');
                    width: 100%;
                    margin-left: 20px;
                }
    
                // Notify
                .topbarNotifyIcon {
                    &.active {
                        color: $mainColor;
                    }
                }
                .topbarNotifyNumber {
                    &.active {
                        display: none;
                    }
                    position: absolute;
                    top: 20%;
                    transform: translateX(85%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 15px;
                    width: 15px;
                    font-size: 10px;
                    font-weight: 700;
                    color: $whiteColor;
                    font-weight: 500;
                    background-color: $errorColor;
                    border-radius: 50%;
                }
                .topbarNotifyList {
                    &.active {
                        display: block;
                        @include slideLeft;
                    }
                    display: none;
                    position: absolute;
                    top: calc(100% + 1px);
                    right: $sizeAlignPagePC;
                    background-color: $whiteColor;
                    box-shadow: $shadowNotTop;
                    max-height: calc(($heightChildTopbar + 10px) * 4);
                    overflow-y: auto;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    .topbarNotifyItem {
                        &:last-child {
                            border: none;
                        }
                        display: flex;
                        align-items: center;
                        height: calc($heightChildTopbar + 10px);
                        padding: 0 20px;
                        border-bottom: 1px solid $disableColor;
                        
                        color: $blackColor;
                        &:hover {
                            background-color: $mainColor;
                        }
                        .topbarNotifyImg {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .topbarNotifyContent {
                            font-size: 17px;
                        }
                    }
                }
    
                // Image
                .topbarImg {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
    
                // Setting
                .topbarSettingIcon {
                    &.active {
                        color: $mainColor;
                        @include rotate180;
                    }
                }
                .topbarSettingList {
                    &.active {
                        display: block;
                        @include slideLeft;
                    }
                    display: none;
                    position: absolute;
                    top: calc(100% + 1px);
                    right: $sizeAlignPagePC;
                    background-color: $whiteColor;
                    box-shadow: $shadowNotTop;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    overflow: hidden;
                    .topbarSettingItem {
                        &:last-child {
                            border: none;
                        }
                        padding: 0 20px;
                        
                        color: $blackColor;
                        height: $heightChildTopbar;
                        display: flex;
                        align-items: center;
                        font-size: 17px;
                        border-bottom: 1px solid $disableColor;
                        &:hover {
                            background-color: $mainColor
                        }
                    }
                }
    
            }
        }
    }
}


/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {
    .topbar {
        z-index: 3;
        width: 100%;
        height: $heightTopbar;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 0;
        border-bottom: 1px solid $disableColor;
        @include font('part');
        background-color: $whiteColor;
        padding: 0 $sizeAlignPageTM; //
    
        &Menu {
            display: none;
        }
        // Mobile
        &GroupM {
            display: none;
        }
        // Tablet PC
        &Group {
            display: flex;
            align-items: center;
    
            // Item
            .topbarItem {
                &:last-child {
                    margin-right: 0;
                }
                display: flex;
                align-items: center;
                margin-right: 15px; //
                
                color: $blackColor;
                cursor: pointer;
    
                // Search
                &:focus-within .topbarSearchIcon {
                    color: $mainColor;
                }
                .topbarSearchIcon {
    
                }
                .topbarSearchInput {
                    @include font('part');
                    width: 100%;
                    margin-left: 15px; //
                }
    
                // Notify
                .topbarNotifyIcon {
                    &.active {
                        color: $mainColor;
                    }
                }
                .topbarNotifyNumber {
                    &.active {
                        display: none;
                    }
                    position: absolute;
                    top: 20%;
                    transform: translateX(85%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 15px;
                    width: 15px;
                    font-size: 10px;
                    font-weight: 700;
                    color: $whiteColor;
                    font-weight: 500;
                    background-color: $errorColor;
                    border-radius: 50%;
                }
                .topbarNotifyList {
                    &.active {
                        display: block;
                        @include slideLeft;
                    }
                    display: none;
                    position: absolute;
                    top: calc(100% + 1px);
                    right: $sizeAlignPageTM; //
                    background-color: $whiteColor;
                    box-shadow: $shadowNotTop;
                    max-height: calc(($heightChildTopbar + 10px) * 4);
                    overflow-y: auto;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    .topbarNotifyItem {
                        &:last-child {
                            border: none;
                        }
                        display: flex;
                        align-items: center;
                        height: calc($heightChildTopbar + 10px);
                        padding: 0 20px;
                        border-bottom: 1px solid $disableColor;
                        
                        color: $blackColor;
                        &:hover {
                            background-color: $mainColor;
                        }
                        .topbarNotifyImg {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .topbarNotifyContent {
                            font-size: 17px;
                        }
                    }
                }
    
                // Image
                .topbarImg {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
    
                // Setting
                .topbarSettingIcon {
                    &.active {
                        color: $mainColor;
                        @include rotate180;
                    }
                }
                .topbarSettingList {
                    &.active {
                        display: block;
                        @include slideLeft;
                    }
                    display: none;
                    position: absolute;
                    top: calc(100% + 1px);
                    right: $sizeAlignPageTM; //
                    background-color: $whiteColor;
                    box-shadow: $shadowNotTop;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    overflow: hidden;
                    .topbarSettingItem {
                        &:last-child {
                            border: none;
                        }
                        padding: 0 15px; //
                        
                        color: $blackColor;
                        height: $heightChildTopbar;
                        display: flex;
                        align-items: center;
                        font-size: 17px;
                        border-bottom: 1px solid $disableColor;
                        &:hover {
                            background-color: $mainColor
                        }
                    }
                }
    
            }
        }
    }
}

/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .topbar {
        z-index: 3;
        width: 100%;
        height: $heightTopbar;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 0;
        border-bottom: 1px solid $disableColor;
        @include font('part');
        background-color: $whiteColor;
        padding: 0 $sizeAlignPageTM; //

        // Tablet PC
        &Group {
            display: none;
        }

        // All mobile
        &GroupM {
            &:nth-child(4) {
                @include font('logo');
                font-size: 25px;
            }
            display: flex;
            align-items: center;
            
            color: $blackColor;
            // Item
            .topbarItem {
                display: flex;
                align-items: center;
                
                color: $blackColor;
                cursor: pointer;
    
                // Notify
                .topbarNotifyIcon {

                }
                .topbarNotifyNumber {
                    position: absolute;
                    top: 15%;
                    transform: translateX(70%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 15px;
                    width: 15px;
                    font-size: 10px;
                    font-weight: 700;
                    color: $whiteColor;
                    font-weight: 500;
                    background-color: $errorColor;
                    border-radius: 50%;
                }  
            }
            .topbarMenu {
                &.active {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: $shadowFull;
                    @include slideRight;
                }
                display: none;
                position: absolute;
                top: calc(100% + 1px);
                left: 0;
                width: 100%;
                background-color: $whiteColor;
                padding: $sizeAlignElementTM;
                font-weight: 600;
                &Item {
                    margin: $sizeAlignElementTM 0;
                    
                    color: $blackColor;
                    display: flex;
                    font-size: 16px;
                    &Child {
                        &:last-child {
                            border: none;
                        }
                        
                        color: $blackColor;
                        padding: 0 $sizeAlignElementTM;
                        border-right: 1px solid $disableColor;
                    }
                    // Search
                    &:first-child {
                        &:focus-within {
                            border-color: $mainColor;
                        }
                        &:focus-within .topbarMenuSearchIcon {
                            color: $mainColor;
                        }
                        border-bottom: 1px solid $blackBorder;
                        font-size: 20px;
                        .topbarMenuSearchInput {
                            max-width: 300px;
                            padding-bottom: 2px;
                        }
                        .topbarMenuSearchIcon {
                            margin-left: $sizeAlignElementTM;
                        }
                    }
                    .topbarMenuImg {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                        box-shadow: $shadowFull;
                    }
                }
            }
        }
    }
}