@use '/src/assets/scss' as *;
@media (min-width: 740px) {
    .headerOfUser {
        width: 100%;
        overflow: hidden;
        height: $heightHeaderOfUser;
        &Photo {
            width: 100%;
            height: $heightHeaderOfUser;
            object-fit: cover;
        }
        &NoPhoto {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to left, #dce8eb, #f8e8dc);
            &Content {
                &Icon {
                    display: block;
                    width: 70px;
                    height: 70px;
                }
            }
        }
    
    
        // Custom Slider
            //Space between slide
            .slick-list {margin: 0 -5px;}
            .slick-slide>div {padding: 0 5px;}
        
            // Arrow
            .slick-arrow,
            .slick-next,
            .slick-prev {
                display: none !important;
            }
        
            // Dot
            .slick-dots {
                bottom: 10px;
                display: flex !important;
                justify-content: center;
        
                & > li {
                    &.slick-active {
                        background-color: $mainColor;
                    }
        
                    width: 30px;
                    height: 2px;
                    margin: 0 2px;
                    background-color: $disableColor;
        
                    & > button {
                        position: absolute;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 15px;
                        background-color: transparent;
                        box-shadow: none;
        
                        &::before {
                            all: unset;
                        }
                    }
                }
            }
    }
}

/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .headerOfUser {
        width: 100%;
        overflow: hidden;
        height: $heightHeaderOfUserM;
        &Photo {
            width: 100%;
            height: $heightHeaderOfUserM; //
            object-fit: cover;
        }
        &NoPhoto {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to left, #dce8eb, #f8e8dc);
            &Content {
                &Icon {
                    display: block;
                    width: 50px;
                    height: 50px;
                }
            }
        }

            // Custom Slider
            //Space between slide
            .slick-list {margin: 0 -2px;}
            .slick-slide>div {padding: 0 2px;}
        
            // Arrow
            .slick-arrow,
            .slick-next,
            .slick-prev {
                display: none !important;
            }
        
            // Dot
            .slick-dots {
                bottom: 7px;
                display: flex !important;
                justify-content: center;
        
                & > li {
                    &.slick-active {
                        background-color: $mainColor;
                    }
        
                    width: 10px;
                    height: 1px;
                    margin: 0 1.5px;
                    background-color: $disableColor;
        
                    & > button {
                        position: absolute;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 15px;
                        background-color: transparent;
                        box-shadow: none;
        
                        &::before {
                            all: unset;
                        }
                    }
                }
            }
    }
}