@use '/src/assets/scss' as *;

@media (min-width: 740px) {
    .photos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &Title {
            @include font('title');
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            &Content {
                cursor: pointer;

                &Icon {
                    margin-right: 10px;
                }
            }

            &Add {
                cursor: pointer;

                &Icon {}
            }
        }

        &Content {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            position: relative;

            &Item {
                width: 50%;
                height: 50%;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;

                &Img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &Hidden {
                cursor: pointer;
                position: absolute;
                width: 50%;
                height: 50%;
                right: 0;
                bottom: 0;
                color: $mainColor;
                @include font ('title');
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #000000, $alpha: 0.6);
                border-radius: 10px;
            }
        }

        &NoContent {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-image: linear-gradient(to left, #dce8eb, #f8e8dc);

            &Content {
                &Icon {
                    display: block;
                    width: 70px;
                    height: 70px;
                }
            }
        }

        &Gallery {
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            background-color: $blackColor;
            padding: $sizeAlignPagePC;
            overflow-y: scroll;

            &Title {
                @include font('title');
                font-size: 20px;
                padding-bottom: $sizeAlignElementPC;
                border-bottom: 1px solid $mainColor;
                margin-bottom: $sizeAlignElementPC;
                color: $whiteColor;
                display: flex;
                justify-content: space-between;
                &Close {}
            }
        }

        &Slider {
            &.active {
                display: flex;
                flex-direction: column;
            }

            display: none;
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            background-color: $blackColor;
            padding: $sizeAlignPagePC;

            &Title {
                @include font('title');
                font-size: 20px;
                padding-bottom: $sizeAlignElementPC;
                border-bottom: 1px solid $mainColor;
                margin-bottom: $sizeAlignElementPC;
                color: $whiteColor;
                display: flex;
                justify-content: space-between;

                &Number {
                }
                &Close {}
            }

            &Content {
                flex: 1;
                display: flex;
                align-items: center;
                .slick-slider {
                    width: 100%;
                    height: auto;
                     // Custom Slider 
                    .slick-next {
                        z-index: 3;
                        &::before {
                            content: none;
                        }
                        right: 0;
                        > i {
                            &:active {
                                color: $mainColor;
                            }
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 40px;
                            text-shadow: $shadowFull;
                            color: $whiteColor;
                        }
                    }
                    .slick-prev {
                        z-index: 3;
                        &::before {
                            content: none;
                        }
                        left: 0;
                        > i {
                            &:active {
                                color: $mainColor;
                            }
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 40px;
                            text-shadow: $shadowFull;
                            color: $whiteColor;
                        }
                    }
                    .slick-dots {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 739px) {
    .photos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &Title {
            @include font('title');
            font-size: 16px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;

            &Content {
                cursor: pointer;

                &Icon {
                    margin-right: 10px;
                }
            }

            &Add {
                cursor: pointer;

                &Icon {}
            }
        }

        &Content {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            position: relative;

            &Item {
                width: 50%;
                height: 50%;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;

                &Img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &Hidden {
                cursor: pointer;
                position: absolute;
                width: 50%;
                height: 50%;
                right: 0;
                bottom: 0;
                color: $mainColor;
                @include font ('title');
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #000000, $alpha: 0.6);
                border-radius: 10px;
            }
        }

        &NoContent {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-image: linear-gradient(to left, #dce8eb, #f8e8dc);

            &Content {
                &Icon {
                    display: block;
                    width: 50px;
                    height: 50px;
                }
            }
        }

        &Gallery {
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            background-color: $blackColor;
            padding: $sizeAlignPagePC;
            overflow-y: scroll;

            &Title {
                @include font('title');
                padding-bottom: $sizeAlignElementTabletMobile;
                border-bottom: 1px solid $mainColor;
                margin-bottom: $sizeAlignElementTabletMobile;
                color: $whiteColor;
                display: flex;
                justify-content: space-between;
                &Close {}
            }
        }

        &Slider {
            &.active {
                display: flex;
                flex-direction: column;
            }
            display: none;
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            background-color: $blackColor;
            padding: $sizeAlignPageTabletMobile;
            &Title {
                @include font('title');
                padding-bottom: $sizeAlignElementTabletMobile;
                border-bottom: 1px solid $mainColor;
                margin-bottom: $sizeAlignElementTabletMobile;
                color: $whiteColor;
                display: flex;
                justify-content: space-between;
                &Number {}
                &Close {}
            }

            &Content {
                flex: 1;
                display: flex;
                align-items: center;
                .slick-slider {
                    width: 100%;
                    height: auto;
                     // Custom Slider 
                    .slick-next {
                        z-index: 3;
                        &::before {
                            content: none;
                        }
                        right: 0;
                        > i {
                            display: none !important;
                        }
                    }
                    .slick-prev {
                        z-index: 3;
                        &::before {
                            content: none;
                        }
                        left: 0;
                        > i {
                            display: none !important;
                        }
                    }
                    .slick-dots {
                        display: none !important;
                    }
                }
            }
        }
    }
}