@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .photos {
        &Title {
            @include font('title');
            font-size: 16px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            &Content {
                cursor: pointer;
                &Icon {
                    margin-right: 10px;
                }
            }
            &Add {
                cursor: pointer;
                &Icon {}
            }
        }
        &Content {
            display: flex;
            overflow: hidden;
            position: relative;
            &Item {
                &:first-child {
                    margin-left: 0;
                }
                width: 11.1875%;
                margin-left: 1.5%;
                border-radius: 3px;
                cursor: pointer;
                overflow: hidden;
                &Img {
                    width: 100%;
                    height: 70px;
                    display: block;
                    object-fit: cover;
                }
            }
            &Hidden {
                cursor: pointer;
                position: absolute;
                width: 11.1875%;
                height: 100%;
                right: 0;
                bottom: 0;
                color: $mainColor;
                @include font ('title');
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #000000, $alpha: 0.6);
                border-radius: 3px;
            }
        }
        &NoContent {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-image: $backGroundEmpty;
            &Content {
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &Gallery {
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            padding: $sizeAlignPagePC;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            &Title {
                @include font('title');
                @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double);
                display: flex;
                justify-content: space-between;
                &Content {
                    flex: 1
                }
                &Trash {
                    @include paddingMarginBorder('PC', 'right');
                    cursor: pointer
                }
                &CheckBox {
                    @include paddingMarginBorder('PC', 'right');
                    cursor: pointer;
                    &Input {

                    }
                    &Label {

                    }
                }
                &Close {
                    cursor: pointer;
                }
            }
            .react-photo-album--photo--wrapper.active {
                position: relative;
                &::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: rgb(47, 255, 109);
                    content: "\2713";
                    font-size: 15px;
                    font-weight: 600;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .react-photo-album--photo {
                object-fit: cover;
                transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
                &.active {
                    transform: translateZ(0px) scale3d(0.9, 0.9, 1);
                    transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
                }
            }
            &NoContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &Slider {
            &.active {
                display: flex;
                flex-direction: column;
            }

            display: none;
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;

            padding: $sizeAlignPagePC;

            &Title {
                @include font('title');
                @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double);

                display: flex;
                justify-content: space-between;

                &Number {}

                &Close {
                    cursor: pointer;
                }
            }

            &Content {
                flex: 1;
                display: flex;
                align-items: center;
                overflow: hidden;

                .slick-slider,
                .slick-list,
                .slick-track,
                .slick-slide,
                div {
                    width: 100%;
                    height: 100%;

                    .photosSliderContentSlide {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;

                        &Img {
                            display: block;
                            width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }

                    .slick-prev,
                    .slick-next {
                        z-index: 2;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;

                        >i {
                            color: white;
                            text-shadow: $shadowFull;
                            font-size: 40px;
                        }
                    }

                    .slick-prev {
                        &::before {
                            content: '';
                        }

                        left: 0;
                        justify-content: flex-start;
                    }

                    .slick-next {
                        &::before {
                            content: '';
                        }

                        right: 0;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 900px) {
    .photos {
        &Title {
            @include font('title');
            font-size: 16px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            &Content {
                cursor: pointer;
                &Icon {
                    margin-right: 10px;
                }
            }
            &Add {
                cursor: pointer;
                &Icon {}
            }
        }
        &Content {
            display: flex;
            overflow: hidden;
            position: relative;
            &Item {
                &:first-child {
                    margin-left: 0;
                }
                width: 15%;
                margin-left: 2%;
                border-radius: 3px;
                cursor: pointer;
                overflow: hidden;
                &Img {
                    width: 100%;
                    height: 60px;
                    display: block;
                    object-fit: cover;
                }
            }
            &Hidden {
                cursor: pointer;
                position: absolute;
                width: 15%;
                height: 100%;
                right: 0;
                bottom: 0;
                color: $mainColor;
                @include font ('title');
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #000000, $alpha: 0.6);
                border-radius: 3px;
            }
        }
        &NoContent {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-image: $backGroundEmpty;
            &Content {
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &Gallery {
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            padding: $sizeAlignPageTM;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            &Title {
                @include font('title');
                @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
                display: flex;
                justify-content: space-between;
                &Content {
                    flex: 1
                }
                &Trash {
                    @include paddingMarginBorder('TM', 'right');
                    cursor: pointer
                }
                &CheckBox {
                    @include paddingMarginBorder('TM', 'right');
                    cursor: pointer;
                    &Input {

                    }
                    &Label {

                    }
                }
                &Close {
                    cursor: pointer;
                }
            }
            .react-photo-album--photo--wrapper.active {
                position: relative;
                &::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: rgb(47, 255, 109);
                    content: "\2713";
                    font-size: 15px;
                    font-weight: 600;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .react-photo-album--photo {
                object-fit: cover;
                transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
                &.active {
                    transform: translateZ(0px) scale3d(0.9, 0.9, 1);
                    transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
                }
            }
            &NoContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &Slider {
            &.active {
                display: flex;
                flex-direction: column;
            }

            display: none;
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;

            padding: $sizeAlignPageTM;

            &Title {
                @include font('title');
                @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);

                display: flex;
                justify-content: space-between;

                &Number {}

                &Close {}
            }

            &Content {
                flex: 1;
                display: flex;
                align-items: center;
                overflow: hidden;

                .slick-slider,
                .slick-list,
                .slick-track,
                .slick-slide,
                div {
                    width: 100%;
                    height: 100%;

                    .photosSliderContentSlide {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;

                        &Img {
                            display: block;
                            width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }
                    .slick-prev,
                    .slick-next {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 739px) {
    .photos {
        &Title {
            @include font('title');
            font-size: 16px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            &Content {
                cursor: pointer;
                &Icon {
                    margin-right: 10px;
                }
            }
            &Add {
                cursor: pointer;
                &Icon {}
            }
        }
        &Content {
            display: flex;
            overflow: hidden;
            position: relative;
            &Item {
                &:first-child {
                    margin-left: 0;
                }
                width: 23.875%;
                margin-left: 1.5%;
                border-radius: 3px;
                cursor: pointer;
                overflow: hidden;
                &Img {
                    width: 100%;
                    height: 60px;
                    display: block;
                    object-fit: cover;
                }
            }
            &Hidden {
                cursor: pointer;
                position: absolute;
                width: 23.875%;
                height: 100%;
                right: 0;
                bottom: 0;
                color: $mainColor;
                @include font ('title');
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba($color: #000000, $alpha: 0.6);
                border-radius: 3px;
            }
        }
        &NoContent {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-image: $backGroundEmpty;
            &Content {
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &Gallery {
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;
            padding: $sizeAlignPageTM;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            &Title {
                @include font('title');
                @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
                display: flex;
                justify-content: space-between;
                align-items: center;
                &Content {
                    flex: 1;
                    line-height: 1.3;
                    
                }
                &Trash {
                    @include paddingMarginBorder('TM', 'right');
                    cursor: pointer
                }
                &CheckBox {
                    @include paddingMarginBorder('TM', 'right');
                    cursor: pointer;
                    &Input {

                    }
                    &Label {

                    }
                }
                &Close {
                    cursor: pointer;
                }
            }
            .react-photo-album--photo--wrapper.active {
                position: relative;
                &::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: rgb(47, 255, 109);
                    content: "\2713";
                    font-size: 15px;
                    font-weight: 600;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .react-photo-album--photo {
                object-fit: cover;
                transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
                &.active {
                    transform: translateZ(0px) scale3d(0.9, 0.9, 1);
                    transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
                }
            }
            &NoContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &Slider {
            &.active {
                display: flex;
                flex-direction: column;
            }

            display: none;
            @include fadeIn;
            position: fixed;
            width: 100%;
            height: calc(100% - $heightTopbar);
            top: $heightTopbar;
            z-index: 2;
            left: 0;

            padding: $sizeAlignPageTM;

            &Title {
                @include font('title');
                @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);

                display: flex;
                justify-content: space-between;

                &Number {}

                &Close {}
            }

            &Content {
                flex: 1;
                display: flex;
                align-items: center;
                overflow: hidden;

                .slick-slider,
                .slick-list,
                .slick-track,
                .slick-slide,
                div {
                    width: 100%;
                    height: 100%;

                    .photosSliderContentSlide {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;

                        &Img {
                            display: block;
                            width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }

                    .slick-prev,
                    .slick-next {
                        display: none;
                    }
                }
            }
        }
    }
}