@use '/src/assets/scss' as *;
.postBrief {
    &:hover {
        color: $contentBriefColor;
    }
    width: 100%;
    height: 100%;
    color: $blackColor;
    text-decoration: none;
    .postImg {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    .postTitle {
        @include font('title');
        font-size: 15.5px;
        line-height: 1.5;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    .postContent {
        @include font('content');
        text-align: justify;
        font-size: 14px;
        line-height: 1.4;
        color: $contentBriefColor;
        overflow: hidden;
    }
    &.noContent {
        .postContent {
            display: none;
        }
        .postImg {
            height: 75%;
        }
        .postTitle {
            height: 25%;
            padding-top: 5px;
        }
    }
    &.noImg {
        .postImg {
            display: none;
        }
        .postTitle {
            height: 40%;
            padding-bottom: 5px;
        }
        .postContent {
            height: 60%;
        }
    }
    &.bigTitle {
        .postTitle {
            font-size: 20px;
            font-weight: 600;
            padding-top: 10px;
        }
    }
}

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {}

/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {}

/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {}