@use '/src/assets/scss' as *;
.home {
    &.loading {
        height: calc(100vh - $heightTopbar - $heightFooter);
        position: relative;
        &::after{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            content: '';
            background-image: url('../../assets/image/loading.gif');
            background-size: cover;
            width: 70px;
            height: 70px;
        }
    }
    width: 100%;
    min-height: calc(100vh - $heightTopbar - $heightFooter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {

}
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {

}