* {
    box-sizing: inherit; /* Kế thừa từ thẻ chứa nó */
}
html {
    box-sizing: border-box;
}
/* CLOSE SELECTORS */

/* RESPONSIVE */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}
.wide {
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}


/* OPEN - COMPUTER độ phân giải > 1239px */
@media (min-width: 1240px) {
    .wide {
        max-width: 1200px;
    }
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .row.no-gutter {
        margin-left: 0px;
        margin-right: 0px;
    }
    .column {
        padding-left: 12px;
        padding-right: 12px;
    }
    .row.no-gutter .column {
        padding-left: 0px;
        padding-right: 0px;
    }
    /* HIDDEN COLUMN*/
    .c-0 {
        display: none;
    }
    /* COLUMN UNIT*/
    .c-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
        display: block;
    }
    .c-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        display: block;
    }
    /* Trường hợp đặc biệt */
    .c-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
        display: block;
    }
    .c-3 {
        flex: 0 0 25%;
        max-width: 25%;
        display: block;
    }
    .c-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        display: block;
    }
    .c-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        display: block;
    }
    .c-6 {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    }
    .c-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        display: block;
    }
    .c-8 {
        flex: 0 0 66,66667%;
        max-width: 66,66667%;
        display: block;
    }
    .c-9 {
        flex: 0 0 75%;
        max-width: 75%;
        display: block;
    }
    .c-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        display: block;
    }
    .c-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
        display: block;
    }
    .c-12 {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    /* COLUMN OFFSET */
    .c-o-1 {
        margin-left: 8.33333%;
    }
    .c-o-2 {
        margin-left: 16.66667%;
    }
    .c-o-3 {
        margin-left: 25%;
    }
    .c-o-4 {
        margin-left: 33.33333%;
    }
    .c-o-5 {
        margin-left: 41.66667%;
    }
    .c-o-6 {
        margin-left: 50%;
    }
    .c-o-7 {
        margin-left: 58.33333%;
    }
    .c-o-8 {
        margin-left: 66,66667%;
    }
    .c-o-9 {
        margin-left: 75%;
    }
    .c-o-10 {
        margin-left: 83.33333%;
    }
    .c-o-11 {
        margin-left: 91.66667%;
    }
    /* GUTTER */
    /* Nếu row được add thêm class gutter nó sẽ apply css */
    .row.gutter-5 {
        margin-left: -5px;
        margin-right: -5px;
    }
    /* Thằng nào có .row.gutter như thế này thì những thằng column bên trong sẽ apply css*/
    .row.gutter-5 .column {
        padding-left: 5px;
        padding-right: 5px;
    }   
}
/* CLOSE - COMPUTER độ phân giải > 1239px */


/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .wide {
        width: 100%;
    }
    .row {
        margin-left: -3px;
        margin-right: -3px;
    }
    .row.no-gutter {
        margin-left: 0px;
        margin-right: 0px;
    }
    .column {
        padding-left: 3px;
        padding-right: 3px;
    }
    /* HIDDEN COLUMN */
    .m-0 {
        display: none;
    }
    /* COLUMN UNIT */
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
        display: block;
    }
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        display: block;
    }
    /* Trường hợp đặc biệt */
    .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
        display: block;
    }
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
        display: block;
    }
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        display: block;
    }
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        display: block;
    }
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    }
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        display: block;
    }
    .m-8 {
        flex: 0 0 66,66667%;
        max-width: 66,66667%;
        display: block;
    }
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
        display: block;
    }
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        display: block;
    }
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
        display: block;
    }
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    /* COLUMN OFFSET */
    .m-o-1 {
        margin-left: 8.33333%;
    }
    .m-o-2 {
        margin-left: 16.66667%;
    }
    .m-o-3 {
        margin-left: 25%;
    }
    .m-o-4 {
        margin-left: 33.33333%;
    }
    .m-o-5 {
        margin-left: 41.66667%;
    }
    .m-o-6 {
        margin-left: 50%;
    }
    .m-o-7 {
        margin-left: 58.33333%;
    }
    .m-o-8 {
        margin-left: 66,66667%;
    }
    .m-o-9 {
        margin-left: 75%;
    }
    .m-o-10 {
        margin-left: 83.33333%;
    }
    .m-o-11 {
        margin-left: 91.66667%;
    }
}
/* CLOSE - MOBILE độ phân giải <= 739px */


/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
    .row {
        margin-left: -6px;
        margin-right: -6px;
    }
    .row.no-gutter {
        margin-left: 0px;
        margin-right: 0px;
    }
    .column {
        padding-left: 6px;
        padding-right: 6px;
    }
    /* HIDDEN COLUMN */
    .t-0 {
        display: none;
    }
    /* COLUMN UNIT */
    .t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
        display: block;
    }
    .t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        display: block;
    }
    /* Trường hợp đặc biệt */
    .t-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
        display: block;
    }
    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
        display: block;
    }
    .t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        display: block;
    }
    .t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        display: block;
    }
    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    }
    .t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        display: block;
    }
    .t-8 {
        flex: 0 0 66,66667%;
        max-width: 66,66667%;
        display: block;
    }
    .t-9 {
        flex: 0 0 75%;
        max-width: 75%;
        display: block;
    }
    .t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        display: block;
    }
    .t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
        display: block;
    }
    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    /* COLUMN OFFSET */
    .t-o-1 {
        margin-left: 8.33333%;
    }
    .t-o-2 {
        margin-left: 16.66667%;
    }
    .t-o-3 {
        margin-left: 25%;
    }
    .t-o-4 {
        margin-left: 33.33333%;
    }
    .t-o-5 {
        margin-left: 41.66667%;
    }
    .t-o-6 {
        margin-left: 50%;
    }
    .t-o-7 {
        margin-left: 58.33333%;
    }
    .t-o-8 {
        margin-left: 66,66667%;
    }
    .t-o-9 {
        margin-left: 75%;
    }
    .t-o-10 {
        margin-left: 83.33333%;
    }
    .t-o-11 {
        margin-left: 91.66667%;
    }
    /* GUTTER */
    /* Nếu row được add thêm class gutter nó sẽ apply css */
    .row.gutter-5 {
        margin-left: -5px;
        margin-right: -5px;
    }
    /* Thằng nào có .row.gutter như thế này thì những thằng column bên trong sẽ apply css*/
    .row.gutter-5 .column {
        padding-left: 5px;
        padding-right: 5px;
    }
}
/* CLOSE - TABLET độ phân giải từ 740px đến <= 1023 px */


/* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
    .row {
        margin-left: -9px;
        margin-right: -9px;
    }
    .row.no-gutter {
        margin-left: 0px;
        margin-right: 0px;
    }
    .column {
        padding-left: 9px;
        padding-right: 9px;
    }
    /* HIDDEN COLUMN */
    .cl-0 {
        display: none;
    }
    /* COLUMN UNIT */
    .cl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
        display: block;
    }
    .cl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        display: block;
    }
    /* Trường hợp đặc biệt */
    .cl-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
        display: block;
    }
    .cl-3 {
        flex: 0 0 25%;
        max-width: 25%;
        display: block;
    }
    .cl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        display: block;
    }
    .cl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        display: block;
    }
    .cl-6 {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    }
    .cl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        display: block;
    }
    .cl-8 {
        flex: 0 0 66,66667%;
        max-width: 66,66667%;
        display: block;
    }
    .cl-9 {
        flex: 0 0 75%;
        max-width: 75%;
        display: block;
    }
    .cl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        display: block;
    }
    .cl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
        display: block;
    }
    .cl-12 {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    /* COLUMN OFFSET */
    .cl-o-1 {
        margin-left: 8.33333%;
    }
    .cl-o-2 {
        margin-left: 16.66667%;
    }
    .cl-o-3 {
        margin-left: 25%;
    }
    .cl-o-4 {
        margin-left: 33.33333%;
    }
    .cl-o-5 {
        margin-left: 41.66667%;
    }
    .cl-o-6 {
        margin-left: 50%;
    }
    .cl-o-7 {
        margin-left: 58.33333%;
    }
    .cl-o-8 {
        margin-left: 66,66667%;
    }
    .cl-o-9 {
        margin-left: 75%;
    }
    .cl-o-10 {
        margin-left: 83.33333%;
    }
    .cl-o-11 {
        margin-left: 91.66667%;
    }
    /* GUTTER */
    /* Nếu row được add thêm class gutter nó sẽ apply css */
    .row.gutter-5 {
        margin-left: -5px;
        margin-right: -5px;
    }
    /* Thằng nào có .row.gutter như thế này thì những thằng column bên trong sẽ apply css*/
    .row.gutter-5 .column {
        padding-left: 5px;
        padding-right: 5px;
    }
}
/* CLOSE - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
