@use '/src/assets/scss' as *;
.infomation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &Title {
        @include font('title');
        display: block;
        margin-bottom: 7px;
        border-radius: 5px;
        background-color: $mainColor;
        padding: 5px 10px;
        line-height: 1;
        &Icon {
            margin-right: $sizeAlignElementPC;
            font-size: 18px;
        }
    }
    &Content {
        flex: 1;
        display: flex;
        flex-direction: column;
        &Top {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &Item {
                @include font('title');
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                &Icon {
                    font-size: 18px;
                    margin-right: 5px;
                }
            }
        }
        &Bottom {
            &Item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .removeFriend {
                    &:active {
                        background-color: $clickColor;
                    }
                    font-size: 16px;
                    min-width: unset;
                    width: 48%;
                    background-color: $disableColor;
                    height: 30px;
                    box-shadow: none;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                .isFriend {
                    font-size: 16px;
                    min-width: unset;
                    width: 48%;
                    background-color: rgb(138, 156, 245);
                    height: 30px;
                    box-shadow: none;
                    cursor: default;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                .removeRequestFriend {
                    &:active {
                        background-color: $clickColor;
                    }
                    font-size: 16px;
                    min-width: unset;
                    width: 48%;
                    background-color: $disableColor;
                    height: 30px;
                    box-shadow: none;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                .requestFriend {
                    font-size: 16px;
                    min-width: unset;
                    width: 48%;
                    background-color: rgb(138, 156, 245);
                    height: 30px;
                    box-shadow: none;
                    cursor: default;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                .removeFriendRequest {
                    &:active {
                        background-color: $clickColor;
                    }
                    font-size: 16px;
                    min-width: unset;
                    width: 48%;
                    background-color: $disableColor;
                    height: 30px;
                    box-shadow: none;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                .friendRequest {
                    font-size: 16px;
                    min-width: unset;
                    width: 48%;
                    background-color: rgb(138, 156, 245);
                    height: 30px;
                    box-shadow: none;
                    cursor: default;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
                .notFriend {
                    &:active {
                        background-color: $clickColor;
                    }
                    font-size: 16px;
                    min-width: unset;
                    width: 100%;
                    background-color: rgb(138, 156, 245);
                    height: 30px;
                    box-shadow: none;
                    &Icon {
                        margin-left: 5px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}