@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .infomation {
        @include font('title');
        font-size: 16px;
        &Item {
            margin-right: 30px;
            &Icon {
                margin-right: 5px;
            }
        }
    }
}
@media (min-width: 740px) and (max-width: 900px) {
    .infomation {
        @include font('title');
        font-size: 16px;
        &Item {
            margin-right: 15px;
            &Icon {
                margin-right: 5px;
            }
        }
    }
}
@media (max-width: 739px) {
    .infomation {
        @include font('title');
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &Item {
            margin-top: $sizeAlignElementTM;
            &Icon {
                margin-right: 5px;
            }
        }
    }
}