@use '/src/assets/scss' as *;
.infomation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &Title {
        @include font('title');
        display: block;
        margin-bottom: 7px;
        border-radius: 5px;
        background-color: $mainColor;
        padding: 5px 10px;
        &Icon {
            margin-right: $sizeAlignElementPC;
        }
    }
    &Content {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        background-image: linear-gradient(to left, #dce8eb , #f8e8dc);
        border-radius: 10px;
        &Item {
            width: 50%;
            height: 50%;
            @include font('content');
            font-size: 17px;
            line-height: 1;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &Icon {
                font-size: 22px;
                margin-bottom: 5px;
            }
        }
    }
}