@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .postsUser {
        width: calc(100% - $sizeAlignPagePC*2);
        padding-bottom: $sizeAlignElementPC;
        flex: 1;
        display: flex;
        flex-direction: column;
        &Title {
            @include font('title');
            font-weight: 600;
            margin-bottom: $sizeAlignElementPC;
            display: flex;
            align-items: center;
                &Icon {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    background-color: $greyBtnColor;
            }
        }
        &Content {
            &Center {
                @include paddingMarginBorder('PC', 'bottom');
                display: flex;
                > :nth-child(n) {
                    flex: 1;
                    @include paddingMarginBorder('PC', 'right');
                }
                > :last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border: none;
                }
            }
            &Bottom {
                display: flex;
                flex-direction: column;
                > :nth-child(n) {
                    flex: 1;
                    @include paddingMarginBorder('PC', 'bottom');
                }
                > :last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border: none;
                }
            }
        }
        &NoContent {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            &Content {
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {
    .postsUser {
        width: calc(100% - $sizeAlignPageTM*2);
        padding-bottom: $sizeAlignElementTM;
        flex: 1;
        display: flex;
        flex-direction: column;
        &Title {
            @include font('title');
            font-weight: 600;
            margin-bottom: $sizeAlignElementTM;
            display: flex;
            align-items: center;
                &Icon {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    background-color: $greyBtnColor;
            }
        }
        &Content {
            &Center {
                @include paddingMarginBorder('TM', 'bottom');
                display: flex;
                overflow: scroll;
                &::-webkit-scrollbar {
                    display: none; 
                }
                > :nth-child(n) {
                    flex: none;
                    box-sizing: content-box;
                    width: 250px;
                    @include paddingMarginBorder('TM', 'right');
                }
                > :last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border: none;
                }
            }
            &Bottom {
                display: flex;
                flex-direction: column;
                > :nth-child(n) {
                    flex: 1;
                    @include paddingMarginBorder('TM', 'bottom');
                }
                > :last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border: none;
                }
            }
        }
        &NoContent {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &Content {
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .postsUser {
        width: calc(100% - $sizeAlignPageTM*2);
        padding-bottom: $sizeAlignElementTM;
        flex: 1;
        display: flex;
        flex-direction: column;
        &Title {
            @include font('title');
            font-size: 16px;
            font-weight: 600;
            margin-bottom: $sizeAlignElementTM;
            display: flex;
            align-items: center;
                &Icon {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: $greyBtnColor;
            }
        }
        &Content {
            &Center {
                @include paddingMarginBorder('TM', 'bottom');
                display: flex;
                overflow: scroll;
                &::-webkit-scrollbar {
                    display: none; 
                }
                > :nth-child(n) {
                    flex: none;
                    box-sizing: content-box;
                    width: 200px;
                    @include paddingMarginBorder('TM', 'right');
                }
                > :last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border: none;
                }
            }
            &Bottom {
                display: flex;
                flex-direction: column;
                > :nth-child(n) {
                    flex: 1;
                    @include paddingMarginBorder('TM', 'bottom');
                }
                > :last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border: none;
                }
            }
        }
        &NoContent {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &Content {
                &Icon {
                    &.active {
                        cursor: pointer;
                    }
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}