@use '/src/assets/scss' as *;

@media (min-width: 740px) {
    .header {
        width: 100%;
        height: $heightHeader;
        position: relative;
        &Logo {
            position: absolute;
            top: 20px;
            z-index: 2;
            width: 100%;
            text-align: center;
            color: $whiteColor;
            @include font('logo');
            font-size: 50px;
            text-shadow: $shadowFull;
            @include trackingExpand;
            
        }

        &Title {
            position: absolute;
            top: 80px;
            z-index: 2;
            width: 100%;
            text-align: center;
            color: $whiteColor;
            @include font('logo');
            text-shadow: $shadowFull;
            @include trackingExpand;
        }

        &Slide {
            width: 100%;
            height: $heightHeader;
            
            position: relative;
            object-fit: cover;
        }

        &Category {
            position: absolute;
            bottom: 0;
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: linear-gradient(rgba(255, 255, 255, 0), $backgroundColorLight);

            &Item {
                @include font('title');
                text-transform: uppercase;
                
                font-weight: 600;
                
                padding: 0 15px;
                
            }
        }

        // Custom Slider
        .slick-arrow,
        .slick-next,
        .slick-prev {
            display: none !important;
        }
    }
}

/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .header {
        width: 100%;
        height: $heightHeaderM;
        position: relative;

        &Logo {
            position: absolute;
            top: 15px; //
            z-index: 2;
            width: 100%;
            text-align: center;
            color: $whiteColor;
            @include font('logo');
            font-size: 25px; //
            text-shadow: $shadowFull;
            @include trackingExpand;
            
        }

        &Title {
            position: absolute;
            top: 45px; //
            z-index: 2;
            width: 100%;
            text-align: center;
            color: $whiteColor;
            @include font('logo');
            font-size: 22px; //
            text-shadow: $shadowFull;
            @include trackingExpand;
        }

        &Slide {
            width: 100%;
            height: $heightHeaderM;
            
            position: relative;
            object-fit: cover;
        }

        &Category {
            position: absolute;
            bottom: 0;
            height: 50px; //
            width: 100%;
            display: flex;
            justify-content: space-between; //
            align-items: flex-end;
            background: linear-gradient(rgba(255, 255, 255, 0), $backgroundColorLight);

            &Item {
                &:first-child {
                    //
                    padding-left: $sizeAlignPageTM; //
                }

                &:last-child {
                    padding-right: $sizeAlignPageTM; //
                }

                //

                @include font('title');
                text-transform: uppercase;
                
                font-weight: 600;
                font-size: 14px; //
                
                padding: 0; //
                
            }
        }

        // Custom Slider
        .slick-arrow,
        .slick-next,
        .slick-prev {
            display: none !important;
        }
    }
}