@use '/src/assets/scss' as *;
.friends {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &Title {
        @include font('title');
        display: block;
        margin-bottom: 7px;
        border-radius: 5px;
        background-color: $mainColor;
        padding: 5px 10px;
        &Icon {
            margin-right: $sizeAlignElementPC;
        }
    }
    &Content {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        &Item {
            &:hover &Name {
                height: 100%;
                @include limitLine(2);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                @include slideTop;
                
            }
            width: 50%;
            height: 50%;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            color: black;
            &Img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &Name {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 2px 5px;
                background-color: rgba($color: $mainColor, $alpha: 0.7);
                @include font('content');
                font-size: 12px;
                line-height: 1.2;
                text-align: center;
                @include limitLine(1);
            }
        }
        &Hidden {
            position: absolute;
            width: 50%;
            height: 50%;
            right: 0;
            bottom: 0;
            color: $mainColor;
            @include font ('title');
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: #000000, $alpha: 0.6);
            border-radius: 10px;
        }
    }
    &NoContent {
        @include font('title');
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        background-image: linear-gradient(to left, #dce8eb , #f8e8dc);
        &Icon {
            &:hover {
                color: $mainColor;
            }
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            font-size: 17px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &Child {
                &:last-child {
                    position: absolute;
                    font-size: 17px;
                    bottom: -2px;
                    right: -5px;
                    background-color: $whiteColor;
                    line-height: 1;
                    border-radius: 50%;
                }
                margin-left: 10px;
                font-size: 34px;
            }
        }
        &Content {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            font-size: 17px;
        }
    }
}