@use '/src/assets/scss' as *;
.musics {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &Title {
        @include font('title');
        display: block;
        margin-bottom: 7px;
        border-radius: 5px;
        background-color: $mainColor;
        padding: 5px 10px;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        &Content {
            cursor: pointer;
            &Icon {
                margin-right: $sizeAlignElementPC;
                font-size: 18px;
            }
        }
        &Add {
            cursor: pointer;
            &Icon {
                font-size: 18px;
            }
        }
    }
    &Content {
        flex: 1;
        overflow: hidden;
        border-radius: 10px;
        &Item {
            width: 100%;
        }
    }
    &NoContent {
        @include font('title');
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        background-image: linear-gradient(to left, #dce8eb , #f8e8dc);
        &Icon {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            font-size: 17px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &Child {
                &:last-child {
                    position: absolute;
                    font-size: 17px;
                    bottom: -2px;
                    right: -5px;
                    background-color: $whiteColor;
                    line-height: 1;
                    border-radius: 50%;
                }
                margin-left: 10px;
                font-size: 34px;
            }
        }
        &Content {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            font-size: 17px;
        }
    }
    &Add {
        flex: 1;
        display: flex;
        flex-direction: column;
        @include font('title');
        font-size: 17px;
        width: 100%;
        &Title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            &Close {
                font-size: 20px;
            }
        }
        &Input {
            flex: 1;
            margin: 5px 0;
            padding: 5px;
            font-size: 15px;
        }
        &Submit {
            font-size: 16px;
            height: 30px;
            background-color: rgb(138, 156, 245);
        }
    }
}