@use '/src/assets/scss' as *;

@media (min-width: 1024px) {
    .sidebar {
        width: calc(100% - $sizeAlignPagePC*2);
        padding-top: $sizeAlignElementPC;
        @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double);
        box-sizing: border-box;
        height: 200px;
        display: flex;

        > :nth-child(n) {
            flex: 1;
            @include paddingMarginBorder('PC', 'left');
        }

        > :first-child {
            flex: none;
            width: 200px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@media (min-width: 901px) and (max-width: 1023px) {
    .sidebar {
        width: calc(100% - $sizeAlignPageTM*2);
        padding-top: $sizeAlignElementTM;
        @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
        box-sizing: border-box;
        height: 200px;
        display: flex;
        overflow: scroll; //

        &::-webkit-scrollbar {
            ///
            display: none; //
        }

        > :nth-child(n) {
            flex: none;
            width: 220px;
            @include paddingMarginBorder('TM', 'left');
        }

        > :first-child {
            flex: none;
            width: 200px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@media (min-width: 740px) and (max-width: 900px) {
    .sidebar {
        width: calc(100% - $sizeAlignPageTM*2);
        padding-top: $sizeAlignElementTM;
        @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
        box-sizing: border-box;
        height: 200px;
        display: flex;
        overflow: scroll; //

        &::-webkit-scrollbar {
            ///
            display: none; //
        }

        > :nth-child(n) {
            flex: none;
            width: 220px;
            @include paddingMarginBorder('TM', 'left');
        }

        > :first-child {
            flex: none;
            width: 200px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@media (max-width: 739px) {
    .sidebar {
        width: calc(100% - $sizeAlignPageTM*2);
        padding-top: $sizeAlignElementTM;
        @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
        box-sizing: border-box;
        height: 180px;
        display: flex;
        overflow: scroll; //

        &::-webkit-scrollbar {
            ///
            display: none; //
        }

        > :nth-child(n) {
            flex: none;
            width: 200px;
            @include paddingMarginBorder('TM', 'left');
        }

        > :first-child {
            flex: none;
            width: 180px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}