@use '/src/assets/scss' as *;
@media (min-width: 1024px) { 
    .sidebar {
        width: calc(100% - $sizeAlignPagePC*2);
        padding: $sizeAlignElementPC 0;
        border-bottom: 4px double $blackColor;
        margin-bottom: $sizeAlignElementPC;
        box-sizing: border-box;
        height: 200px;
        display: flex;
        > :nth-child(n) {
            flex: 1;
            padding-left: $sizeAlignElementPC;
            margin-left: $sizeAlignElementPC;
            border-left: 1px solid $disableColor;
        }
        > :first-child {
            flex: none;
            width: 200px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}
@media (min-width: 901px) and (max-width: 1023px) {
    .sidebar {
        width: calc(100% - $sizeAlignPageTabletMobile*2);
        padding: $sizeAlignElementTabletMobile 0;
        border-bottom: 4px double $blackColor;
        margin-bottom: $sizeAlignElementTabletMobile;
        box-sizing: border-box;
        height: 200px;
        display: flex;
        overflow: scroll; //
        &::-webkit-scrollbar { ///
            display: none; //
        }
        > :nth-child(n) {
            flex: none;
            width: 220px;
            padding-left: $sizeAlignElementTabletMobile;
            margin-left: $sizeAlignElementTabletMobile;
            border-left: 1px solid $disableColor;
        }
        > :first-child {
            flex: none;
            width: 200px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}
@media (min-width: 740px) and (max-width: 900px) {
    .sidebar {
        width: calc(100% - $sizeAlignPageTabletMobile*2);
        padding: $sizeAlignElementTabletMobile 0;
        border-bottom: 4px double $blackColor;
        margin-bottom: $sizeAlignElementTabletMobile;
        box-sizing: border-box;
        height: 200px;
        display: flex;
        overflow: scroll; //
        &::-webkit-scrollbar { ///
            display: none; //
        }
        > :nth-child(n) {
            flex: none;
            width: 220px;
            padding-left: $sizeAlignElementTabletMobile;
            margin-left: $sizeAlignElementTabletMobile;
            border-left: 1px solid $disableColor;
        }
        > :first-child {
            flex: none;
            width: 200px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}
@media (max-width: 739px) {
    .sidebar {
        width: calc(100% - $sizeAlignPageTabletMobile*2);
        padding: $sizeAlignElementTabletMobile 0;
        border-bottom: 4px double $blackColor;
        margin-bottom: $sizeAlignElementTabletMobile;
        box-sizing: border-box;
        height: 180px;
        display: flex;
        overflow: scroll; //
        &::-webkit-scrollbar { ///
            display: none; //
        }
        > :nth-child(n) {
            flex: none;
            width: 200px;
            padding-left: $sizeAlignElementTabletMobile;
            margin-left: $sizeAlignElementTabletMobile;
            border-left: 1px solid $disableColor;
        }
        > :first-child {
            flex: none;
            width: 180px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

