@use '/src/assets/scss' as *;

@media (min-width: 901px) {
    .comments {
        &.loading {
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }

        width: 50%;
        height: calc(100vh - $heightTopbar);
        position: fixed;
        bottom: 0;
        right: 0;
        box-shadow: $shadowFull;
        transform: translateX(50%);
        padding: $sizeAlignPagePC;
        overflow: scroll;
        @include slideLeft;

        &Top {
            @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double);
            display: flex;
            flex-direction: column;

            &Title {
                @include font('title');
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &Close {
                    cursor: pointer;

                    &:hover {
                        color: $mainColor;
                    }
                }
            }

            &Content {
                &:focus {
                    border-color: $mainColor
                }

                @include font('content');
                font-size: 17px;
                line-height: 1.3;
                resize: inherit;
                width: 100%;
                height: 100px;
                margin: $sizeAlignElementPC 0;
                border: 1px solid $blackBorder;
                border-radius: 2px;
                padding: 10px;
                outline: none;
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 900px) {
    .comments {
        &.loading {
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }

        width: 600px;
        height: calc(100vh - $heightTopbar);
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        box-shadow: $shadowFull;
        transform: translateX(50%);
        padding: $sizeAlignPageTM;
        overflow: scroll;
        @include slideLeft;

        &Top {
            @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
            display: flex;
            flex-direction: column;

            &Title {
                @include font('title');
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &Close {
                    cursor: pointer;

                    &:hover {
                        color: $mainColor;
                    }
                }
            }

            &Content {
                &:focus {
                    border-color: $mainColor
                }

                @include font('content');
                font-size: 17px;
                line-height: 1.3;
                resize: inherit;
                width: 100%;
                height: 100px;
                margin: $sizeAlignElementTM 0;
                border: 1px solid $blackBorder;
                border-radius: 2px;
                padding: 10px;
                outline: none;
            }
        }
    }
}

@media (max-width: 739px) {
    .comments {
        &.loading {
            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                content: '';
                background-image: url('../../assets/image/loading.gif');
                background-size: cover;
                width: 70px;
                height: 70px;
            }
        }

        width: 100%;
        height: calc(100vh - $heightTopbar);
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        box-shadow: $shadowFull;
        transform: translateX(50%);
        padding: $sizeAlignPageTM;
        overflow: scroll;
        @include slideLeft;

        &Top {
            @include paddingMarginBorder('TM', 'bottom', $blackBorder, 4px, double);
            display: flex;
            flex-direction: column;

            &Title {
                @include font('title');
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &Close {
                    cursor: pointer;

                    &:hover {
                        color: $mainColor;
                    }
                }
            }

            &Content {
                &:focus {
                    border-color: $mainColor
                }

                @include font('content');
                font-size: 17px;
                line-height: 1.3;
                resize: inherit;
                width: 100%;
                height: 100px;
                margin: $sizeAlignElementTM 0;
                border: 1px solid $blackBorder;
                border-radius: 2px;
                padding: 10px;
                outline: none;
            }
        }
    }
}