@use '/src/assets/scss' as *;

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 901px) {
    .updateAccount {
        width: 100%;
        min-height: calc(100vh - $heightTopbar - $heightFooter);
        background-image: url('../../assets/image/background-update.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        &Title {
            @include font('title');
            width: calc(100% - $sizeAlignPagePC*2);
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            padding-top: $sizeAlignElementPC;
            @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double)
        }
        &Content {
            flex: 1;
            min-width: 500px;
            background-color: rgba($whiteColor, 0.85);
            padding: 15px 25px;
            border-radius: 20px;
            margin-bottom: $sizeAlignElementPC;
            &Item {
                &:first-child &Label {
                    font-weight: 500;
                    height: 30px;
                    width: unset;
                    justify-content: center;
                    background-color: $mainColor;
                    padding: 0 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    &Info {
                        font-size: 20px;
                        margin-left: 10px;

                    }
                }
                margin-bottom: $sizeAlignElementPC;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include font('title');
                &Img {
                    width: 200px;
                    height: 160px;
                    margin-bottom: $sizeAlignElementPC;
                    border-radius: 10px;
                    border: 3px solid $mainColor;
                    object-fit: cover;
                }
                &Label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;
                    &Info {
                        font-weight: 500;
                    }
                    &Error {
                        font-weight: 500;
                        color: $errorColor;
                    }
                }
                &Input {
                    &:focus {
                        border-color: $mainColor;
                    }
                    @include font('title');
                    margin-top: $sizeAlignElementPC;
                    width: 100%;
                    padding: 5px 0;

                    border-bottom: 1px solid $blackBorder;
                }
            }
            &Submit {
                width: 100% !important;
                &.active {
                    position: relative;
                    background-color: $disableColor;
                    cursor: progress;
                    &::after{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        display: block;
                        content: '';
                        background-image: url('../../assets/image/loading.gif');
                        background-size: cover;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

}
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {
    .updateAccount {
        width: 100%;
        min-height: calc(100vh - $heightTopbar - $heightFooter);
        background-image: url('../../assets/image/background-update.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        &Title {
            @include font('title');
            width: calc(100% - $sizeAlignPageTM*2);
            font-size: 30px;

            text-transform: uppercase;
            font-weight: 600;
            padding-top: $sizeAlignElementPC;
            @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double)
        }
        &Content {
            min-width: 500px;
            background-color: rgba($whiteColor, 0.85);
            padding: 15px 25px;
            border-radius: 20px;
            margin-bottom: $sizeAlignElementPC;
            &Item {
                &:first-child &Label {
                    &:hover {
                        background-color: $clickBtnColor;
                    }
                    height: 30px;
                    width: unset;
                    justify-content: center;
                    background-color: $mainColor;
                    padding: 0 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    &Info {
                        font-size: 20px;
                        margin-left: 10px;

                    }
                }
                margin-bottom: $sizeAlignElementPC;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include font('title');
                &Img {
                    width: 200px;
                    height: 160px;
                    margin-bottom: $sizeAlignElementPC;
                    border-radius: 10px;
                    border: 3px solid $mainColor;
                    object-fit: cover;
                }
                &Label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;
                    &Info {
                        font-weight: 500;
                    }
                    &Error {
                        font-weight: 500;
                        color: $errorColor;
                    }
                }
                &Input {
                    &:focus {
                        border-color: $mainColor;
                    }
                    @include font('title');
                    margin-top: $sizeAlignElementPC;
                    width: 100%;
                    padding: 5px 0;

                    border-bottom: 1px solid $blackBorder;
                }
            }
            &Submit {
                width: 100% !important;
                &.active {
                    position: relative;
                    background-color: $disableColor;
                    cursor: progress;
                    &::after{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        display: block;
                        content: '';
                        background-image: url('../../assets/image/loading.gif');
                        background-size: cover;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

}

/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .updateAccount {
        width: 100%;
        min-height: calc(100vh - $heightTopbar - $heightFooterM);
        display: flex;
        flex-direction: column;
        align-items: center;
        &Title {
            @include font('title');
            width: calc(100% - $sizeAlignPageTM*2);
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            padding-top: $sizeAlignElementPC;
            @include paddingMarginBorder('PC', 'bottom', $blackBorder, 4px, double)
        }
        &Content {
            width: calc(100% - $sizeAlignPageTM* 2);
            margin-bottom: $sizeAlignElementPC;
            &Item {
                &:first-child &Label {
                    &:hover {
                        background-color: $clickBtnColor;
                    }
                    color: black;
                    height: 30px;
                    width: unset;
                    justify-content: center;
                    background-color: $mainColor;
                    padding: 0 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    &Info {
                        font-size: 20px;
                        margin-left: 10px;

                    }
                }
                margin-bottom: $sizeAlignElementPC;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include font('title');
                &Img {
                    width: 200px;
                    height: 160px;
                    margin-bottom: $sizeAlignElementPC;
                    border-radius: 10px;
                    border: 3px solid $mainColor;
                    object-fit: cover;
                }
                &Label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;
                    &Info {
                        font-weight: 500;
                    }
                    &Error {
                        font-weight: 500;
                        color: $errorColor;
                    }
                }
                &Input {
                    &:focus {
                        border-color: $mainColor;
                    }
                    @include font('title');
                    margin-top: $sizeAlignElementPC;
                    width: 100%;
                    padding: 5px 0;
                    border-bottom: 1px solid $blackBorder;
                }

            }
            &Submit {
                width: 100% !important;
                &.active {
                    position: relative;
                    background-color: $disableColor;
                    cursor: progress;
                    &::after{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        display: block;
                        content: '';
                        background-image: url('../../assets/image/loading.gif');
                        background-size: cover;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}