@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .postsEqual {
        display: flex;
        > :nth-child(n) {
            flex: 1;
            @include paddingMarginBorder('PC', 'left');
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
    
}

/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {
    .postsEqual {
        display: flex;
        height: 200px;

        overflow: scroll; //
        &::-webkit-scrollbar { ///
            display: none; //
        }

        > :nth-child(n) {
            flex: none; //
            width: 200px;
            box-sizing: content-box;
            @include paddingMarginBorder('TM', 'left');
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .postsEqual {
        display: flex;
        flex-direction: column; //
        height: auto;
        > :nth-child(n) {
            flex: none; //
            width: 100%; //
            padding-left: 0; //
            border-left: none;//
            margin-left: 0; //
            @include paddingMarginBorder('TM', 'top');
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}