@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .postsEqual {
        display: flex;
        > :nth-child(n) {
            flex: 1;
            @include paddingMarginBorder('PC', 'left');
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
    
}

/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {
    .postsEqual {
        display: flex;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none; 
        }
        > :nth-child(n) {
            flex: none;
            box-sizing: content-box;
            width: 250px;
            @include paddingMarginBorder('TM', 'left');
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .postsEqual {
        display: flex;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none; 
        }
        > :nth-child(n) {
            flex: none;
            box-sizing: content-box;
            width: 200px;
            @include paddingMarginBorder('TM', 'left');
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}