@use '/src/assets/scss' as *;
@media (min-width: 901px) {
    .postsEqual {
        display: flex;
        height: 200px;
        > :nth-child(n) {
            flex: 1;
            padding-left: $sizeAlignElementPC;
            border-left: 1px solid $disableColor;
            margin-left: $sizeAlignElementPC;
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
    
}

/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 900px) {
    .postsEqual {
        display: flex;
        height: 200px;

        overflow: scroll; //
        &::-webkit-scrollbar { ///
            display: none; //
        }

        > :nth-child(n) {
            flex: none; //
            width: 200px;
            box-sizing: content-box;
            padding-left: $sizeAlignElementTabletMobile; //
            border-left: 1px solid $disableColor;
            margin-left: $sizeAlignElementTabletMobile; //
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {
    .postsEqual {
        display: flex;
        flex-direction: column; //
        height: auto;

        // overflow-x: scroll; //
        // overflow-y: hidden;
        // &::-webkit-scrollbar { ///
        //     display: none; //
        // }

        > :nth-child(n) {
            flex: none; //
            width: 100%; //
            padding-left: 0; //
            border-left: none;//
            margin-left: 0; //
            padding-top: $sizeAlignElementTabletMobile; //
            border-top: 1px solid $disableColor;//
            margin-top: $sizeAlignElementTabletMobile; //
        }
        > :first-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}