@use '/src/assets/scss' as *;
.image {
    width: 100%;
    height: 100%;
    position: relative;
    &Content {
        border-radius: 10px;
        border: 3px solid $mainColor;
        width: inherit;
        height: 100%;
        object-fit: cover;
    }
    .userName {
        position: absolute;
        bottom: 15px;
        right: 0;
        height: 30px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        @include font('title');
        font-weight: 600;
        font-size: 16px;
        background-color: $mainColor;
        &::before {
            position: absolute;
            content: ""; /* Không có display block vì chỉ lấy border */
            border-width: 15px 6px; /* Trừ 4px ở bottom trên để nó nhảy đúng chiều cao vì ở đây cao 4px */
            border-style: solid;
            border-color: $mainColor $mainColor $mainColor transparent;
            bottom: 0;
            left: 0;
            transform: translateX(-70%);
        }
    }
}