@use '/src/assets/scss' as *;
.postsBigRight {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    &Top {
        flex: 8;
        padding-bottom: 15px;
        border-bottom: 1px solid $disableColor;
        margin-bottom: 15px;
        overflow: hidden;
        display: flex;
        &Left {
            flex: 4;
            padding-right: 15px;
            border-right: 1px solid $disableColor;
            margin-right: 15px;
            display: flex;
            flex-direction: column;
            > :nth-child(n) {
                flex: 1;
                height: 50%;
            }
            > :first-child {
                padding-bottom: 15px;
                border-bottom: 1px solid $disableColor;
                // margin-bottom: 15px;
            }
            > :last-child {
                padding-top: 15px;
            }
        }
        &Right {
            flex: 7;
        }
    }
    &Bottom {
        flex: 3;
        overflow: hidden;
        display: flex;
        > :nth-child(n) {
            flex: 1;
        }
        > :first-child {
            padding-right: 15px;
            border-right: 1px solid $disableColor;
            margin-right: 15px;
        }
    }
}

//* OPEN - COMPUTER-LOW độ phân giải từ 1024 đến <= 1239 px. */
@media (min-width: 1024px) and (max-width: 1239px) {

}
/* OPEN - TABLET độ phân giải từ 740px đến <= 1023 px */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* OPEN - MOBILE độ phân giải <= 739px */
@media (max-width: 739px) {

}